.div-background{
    background-color: #e8f4fc;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.confirmation-text{
    margin-top: 3rem;
    text-align: center;
}
.thankyou-text{
    text-align: center;
    color: #2f4c4f;
    font-size: medium;
    margin-top: 3%;

}

.submit-order{
    width: 40%;
    margin-inside: center;
    margin-left: 30%;
}