.lab{
    font-size: 25px;
    padding-bottom: 30px;
    font-family: "Times New Roman", serif;
}

.user{
    float: right;
    margin-right: 70%;
    margin-top: 5%;

}
.uredi{
    font-family: "Times New Roman", serif;
    font-size: 20px;
    background-color: darkseagreen;
    border: 0.5px solid black;
    cursor: pointer;
}

