* {
    margin:0;
    padding: 0;
    font-family: "Roboto";
}

.head {
    font-family: "Brush Script MT";
    font-size: 15vh; /* vh (% of the viewport height) */
    font-size: 5.5vw; /* vw (% of the viewport width) */
    font-weight: 600;
    text-align: center;
    color: #a6b8a6; /* darkseagreen ili lightgreen*/
    text-shadow: 2px 2px #013220, 2px 2px darkgreen, 2px 2px darkgreen;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    border: 2px double #013220;
    border-radius: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: whitesmoke;
    top: 100%;
    margin-top: 3.2rem;
}
.around-head{
    background-color: #e8f4fc;
}
