.izmedu{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

.size_box{
    outline: 2px solid black;
    outline-color: #efefef;
    margin: 2px;
    padding: 5%;
}
